@import '../../styles/_variable.scss';
@import '../../styles/_prefix.scss';
@import '../../styles/_colors.scss';

.#{$sider-prefix} {

  display: flex;
  color: $theme-ft-white;
  height: 728px;
  overflow: hidden;

  &_tip {
    font-size: 14px;
    color: $theme-sider-title-gary;
    flex: 1;
    padding-left: 25px;

    span {
      display: inline-block;
      line-height: 55px;
    }
  }

  &_head {
    height: 38px;
    line-height: 38px;
    display: flex;
  }

  &_personal {
    margin-top: 20px;
    color: #fff;
  }

  &_list_content {
    overflow-y: scroll;
    height: $sider-list-content-height;
  }

  &_btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(728px - #{$sider-list-content-height} - 88px);
  }

  &_list_content::-webkit-scrollbar {
    display: none;
  }

  &_create_btn {
    width: 150px;
    height: 34px;
    line-height: 34px;
    border: none;
    border-radius: 30px;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background: linear-gradient(to bottom, #F86C39 , #FF3B28);

    &:focus {
      outline: none;
    }
  }

  &_sider::-webkit-scrollbar {
    display: none;
  }

  &_pulse {
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    margin: 0 40px 20px 0;
  }

  &_sider,
  &_personal_info {
    max-width: $global-width;
    min-width: $global-width;
    width: $global-width;
    border-left: 1px solid #2b2727;
    background: $theme-bg-black;
    box-shadow: -2px 0 6px $theme-border-black;
    flex: 0 0 $global-width;



    &_back {
      margin: 15px 0 0 15px;
      position: absolute;

      &:hover {
        cursor: pointer;
      }
    }

    h5 {
      font-weight: normal;
      text-align: center;
      font-size: 26px;
      margin-top: 25px;
    }

    &_block {
      padding: 10px;
    }

    &_title {
      font-size: 16px;
      color: $theme-sider-title-gary;
      font-weight: normal;
      margin: 20px 0 0 15px;
    }

    &_list {
      margin: 10px 0 0;
      li {
        width: 150px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        height: $sider-list-item-height;
        line-height: $sider-list-item-height;
        font-weight: $font-weight;


        span {
          margin: 0 0 0 10px;
        }
      }
    }
  }

  &_ring {
    animation: pulse 1.5s ease-in-out infinite;
    position: absolute;
    top: 8px;
    left: 32px;
    border: 1px solid red;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    width: 100%;
  }

  &_personal_info {
    background: linear-gradient( rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1), #188E9F);
  }

}


.#{$sider-prefix}::-webkit-scrollbar {
  display: none;
}

@keyframes pulse {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  50% {
      opacity: 1;
  }
    100% {
      opacity: 0;
      transform: scale(1);
  }
}